<launch>
  <!-- 定义你的开发电脑 (WSL) -->
  <machine name="abaaba_pc" address="192.168.163.1" user="abaaba" default="never"
           env-loader="/home/abaaba/ros_env_setup.sh" />
  <!-- address=WSL IP, user=WSL用户名, env-loader指向WSL上的脚本 -->

  <!-- ... 其他在小车本地启动的节点 ... -->
  <!-- <node name="..." pkg="..." type="..." /> -->


  <!-- 在 abaaba_pc (WSL) 上启动RViz -->
  <!-- <node name="rviz_visualization" pkg="rviz" type="rviz" args="-d $(find your_config_pkg)/rviz/your_config.rviz" machine="dev_pc" output="screen" required="false" /> -->
  <node name="rviz_visualization" pkg="rviz" type="rviz" machine="abaaba_pc" output="screen" required="false" />

  <!-- 确保 machine="dev_pc" -->
  <!-- 修改 args="-d ..." 指向你实际的RViz配置文件 -->

</launch>