<launch>
    <!-- 导航模块 -->
    <include file="$(find ucar_nav)/launch/base.launch" />

    <!-- 自适应蒙特卡洛定位 (AMCL) -->
    <include file="$(find ucar_nav)/config/amcl_test/amcl_board_origin.launch" /> 

    <!-- 状态机节点 -->
    <node pkg="board_detect_state_machine" type="2_search_up_board.py" name="board_detect_state_machine_node" output="screen">
    </node>

</launch>