<launch>
    <!--该launch文件提供了找板调试阶段的基础环境-->
    
    <!-- 底盘驱动 -->
    <include file="$(find ucar_controller)/launch/base_driver.launch" />
    
    <!-- 激光雷达驱动 -->
    <include file="$(find ydlidar)/launch/ydlidar.launch" />

    <!-- 加载地图服务 -->
    <include file="$(find ucar_nav)/launch/ucar_map.launch" />

    <!-- 加载机器人URDF模型描述 -->
    <param name="robot_description" textfile="$(find ucar_nav)/urdf/xfcar.urdf" />

    <!-- 自适应蒙特卡洛定位 (AMCL) -->
    <include file="$(find ucar_nav)/config/amcl_test/amcl_board_up.launch" />

    <!-- 机器人状态发布 -->
    <node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
</launch>